*.o
*.a
src/turnstile
DoxyFile
Makefile
Makefile.in
NEWS
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
install-sh
libtool
ltmain.sh
missing
pixmaps/Makefile
pixmaps/Makefile.in
src/.deps/
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in~
src/libcrypto/.deps/
src/libcrypto/Makefile
src/libcrypto/Makefile.in
src/libjdhsocket/.deps/
src/libjdhsocket/Makefile
src/libjdhsocket/Makefile.in
src/stamp-h1
stamp-h

